:root {
  --cWhite: #ffffff;
  --cGray: #6f6f6f;

  --sFontBody: 18px;
  --sFontSmall: 15px;
  --sFontMedium: 16px;
  --sFontHuge: 24px;
  --sFontExtraLarge: 48px;
  //   sFontLarge,
  //    sFontExtraLarge,
  //    sFontHuge,
  //    sFontMedium,
  //    sFontSmall,
  //    sFontTiny
}
