.section-who-we-are {
  padding-bottom: 120px;
}

.shadow-bg {
  height: 100%;
  background: url(../images/shadow-bg.png) left 0px top 50px no-repeat;
}

.who-we-are-bg-title {
  font-weight: 900;
  font-size: 180px;
  color: rgba(50, 50, 50, 0.28);
  align-items: center;
  text-align: center;
}
@media screen and (max-width: 1200px) {
  .who-we-are-bg-title {
    font-size: 140px;
  }
}
@media screen and (max-width: 768px) {
  .who-we-are-bg-title {
    font-size: 60px;
  }
}

.who-we-are-title {
  max-width: 400px;
  position: relative;
  top: -130px;
  font-weight: 900;
  font-size: var(--sFontExtraLarge);
  color: var(--cWhite);
  align-items: center;
  text-align: center;
  margin: 0 auto;
  z-index: 1;
}
.who-we-are-title::before {
  content: "";
  position: absolute;
  border-top: 60px solid transparent;
  border-left: 31px solid var(--cRed);
  top: 0px;
  left: 299px;
  z-index: -1;
}
@media screen and (max-width: 1200px) {
  .who-we-are-title::before {
    border-top: 40px solid transparent;
  }
}
@media screen and (max-width: 768px) {
  .who-we-are-title::before {
    border-top: 26px solid transparent;
    border-left: 30px solid var(--cRed);
  }
}
.who-we-are-title::after {
  content: "";
  position: absolute;
  border-bottom: 93px solid transparent;
  border: 30px solid var(--cRed);
  left: 47px;
  width: 252px;
  z-index: -1;
}
@media screen and (max-width: 1200px) {
  .who-we-are-title::after {
    border: 20px solid var(--cRed);
    left: 89px;
    width: 210px;
  }
}
@media screen and (max-width: 768px) {
  .who-we-are-title::after {
    border-bottom: 95px solid transparent;
    border: 13px solid var(--cRed);
    left: 74px;
    width: 226px;
  }
}
@media screen and (max-width: 1200px) {
  .who-we-are-title {
    font-size: 30px;
    top: -110px;
  }
}
@media screen and (max-width: 768px) {
  .who-we-are-title {
    font-size: 20px;
    top: -50px;
  }
}

.who-we-are-subtitle {
  position: relative;
  top: -120px;
  font-weight: 600;
  font-size: var(--sFontBody);
  text-transform: uppercase;
  color: var(--cWhite);
  align-items: center;
  text-align: center;
}
@media screen and (max-width: 1200px) {
  .who-we-are-subtitle {
    font-size: 16px;
    top: -100px;
  }
}
@media screen and (max-width: 768px) {
  .who-we-are-subtitle {
    font-size: var(--sFontExtraSmall);
    top: -45px;
  }
}

.who-we-are-text {
  margin-top: -30px;
  font-weight: 500;
  font-size: var(--sFontBody);
  text-align: center;
  color: var(--cWhite);
  align-items: center;
  text-align: center;
}
@media screen and (max-width: 768px) {
  .who-we-are-text {
    font-size: 11px;
    margin: 0 auto;
    max-width: 90%;
  }
}

.statistics {
  padding-top: 75px;
  display: flex;
  color: var(--cWhite);
  justify-content: space-between;
  text-align: center;
}
@media screen and (max-width: 768px) {
  .statistics {
    max-width: 90%;
    margin: 0 auto;
  }
}

.statistic-item {
  display: block;
}

.statistic-games-counter,
.statistic-streams-counter,
.statistic-teams-counter {
  font-weight: 900;
  font-size: 64px;
  color: var(--cRed);
}
@media screen and (max-width: 1000px) {
  .statistic-games-counter,
.statistic-streams-counter,
.statistic-teams-counter {
    font-size: 50px;
  }
}
@media screen and (max-width: 768px) {
  .statistic-games-counter,
.statistic-streams-counter,
.statistic-teams-counter {
    font-size: 25px;
  }
}

.statistic-games-label,
.statistic-streams-label,
.statistic-teams-label {
  font-weight: 600;
  font-size: var(--sFontBody);
  text-transform: uppercase;
  color: var(--cWhite);
}
@media screen and (max-width: 1000px) {
  .statistic-games-label,
.statistic-streams-label,
.statistic-teams-label {
    font-size: 13px;
  }
}
@media screen and (max-width: 768px) {
  .statistic-games-label,
.statistic-streams-label,
.statistic-teams-label {
    font-size: 11px;
  }
}
