.events-section {
  position: relative;
  background: url(../images/events-bg.png) no-repeat;
  background-size: cover;
  padding-top: 100px;
}
.events {
  display: flex;
  border: 1px solid white;
}
.events-block {
  width: 55%;
  border: 1px solid white;
}
.poster-block {
  width: 711px;
  height: 510px;
  border: 1px solid white;
}
.event-bg-title {
  // display: flex;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 900;
  font-size: 190px;
  color: rgba(71, 71, 71, 0.22);
  align-items: center;
  text-align: right;
  justify-content: right; //   margin: -270px 80px;
}
.event-title {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 900;
  font-size: 48px;
  color: var(--cWhite);
  margin-top: -120px;
  margin-right: 210px;
  float: right;
  align-items: center;
  justify-content: center;
}
.events-schedule__info {
  color: var(--cWhite);
  font-family: "Montserrat";
    display: flex;
    border: 1px solid greenyellow;
}
.events-schedule__info_date {
    padding-left: 30px;
}
.events-schedule__info_day {
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 88px;
}
.events-schedule__info_month-year {
  font-style: normal;
  font-weight: 900;
  font-size: 16px;
}
.events-schedule__info_title{
    padding: 25px 0px  0px 35px;
align-items: center;
justify-content: left;
}
.events-schedule__info_text {
    padding-bottom: 10px;
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
}
.events-schedule__info_location {
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
}
.events-schedule__info_location span {
  color: #d62027;
}
