.events-section {
  position: relative;
  background: url(../images/events-bg.png) no-repeat;
  background-size: cover;
  height: 811px;
  padding-top: 100px;
}

.events {
  display: flex;
}

.poster-block img {
  max-height: 100%;
  width: 100%;
  height: 100%;
  object-fit: contain;
  display: block;
  margin: auto auto;
}
@media screen and (max-width: 768px) {
  .poster-block img {
    height: auto;
  }
}

.events-block {
  width: 55%;
  position: relative;
}

.poster-block {
  width: 711px;
  height: 510px;
}
.event-bg-title {
  display: flex;
  font-weight: 900;
  font-size: 190px;
  color: rgba(71, 71, 71, 0.22);
  align-items: center;
  text-align: right;
  padding-left: 20px;
}
@media screen and (max-width: 1200px) {
  .event-bg-title {
    font-size: 160px;
  }
}
@media screen and (max-width: 768px) {
  .event-bg-title {
    font-size: 80px;
  }
}

.event-title {
  font-weight: 900;
  font-size: var(--sFontExtraLarge);
  color: var(--cWhite);
  margin-top: -120px;
  margin-right: 210px;
  float: right;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@media screen and (max-width: 768px) {
  .event-title {
    font-size: 20px;
    margin-top: -198px;
  }
}

.events-schedule__info {
  color: var(--cWhite);
  display: flex;
}

.events-schedule__info_date {
  padding-left: 30px;
}
@media screen and (max-width: 768px) {
  .events-schedule__info_date {
    padding-left: 10px;
  }
}

.events-schedule__info_day {
  display: flex;
  font-weight: 900;
  font-size: 72px;
}
@media screen and (max-width: 768px) {
  .events-schedule__info_day {
    font-size: 40px;
  }
}

.events-schedule__info_month-year {
  font-weight: 900;
  font-size: var(--sFontMedium);
}
@media screen and (max-width: 768px) {
  .events-schedule__info_month-year {
    font-size: 9px;
  }
}

.events-schedule__info_title {
  padding: 25px 0px 0px 35px;
  align-items: center;
  justify-content: left;
}
@media screen and (max-width: 768px) {
  .events-schedule__info_title {
    padding-left: 10px;
  }
}

.events-schedule__info_text {
  padding-bottom: 10px;
  font-weight: 900;
  font-size: var(--sFontHuge);
}
@media screen and (max-width: 768px) {
  .events-schedule__info_text {
    font-size: 13px;
  }
}

.events-schedule__info_location {
  font-weight: 700;
  font-size: var(--sFontSmall);
}
@media screen and (max-width: 768px) {
  .events-schedule__info_location {
    font-size: 9px;
  }
}

.events-schedule__info_location span {
  color: var(--cRed);
}
