.footer {
  background: url(../images/footer.png) no-repeat;
  background-size: cover;
  padding: 100px 50px;
}

.footer__block {
  display: flex;
  justify-content: space-between;
  color: var(--cWhite);
}

.subscription-form {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.subscription-input {
  padding: 0 5px 0 10px;
  border: none;
  border-bottom: 1px solid var(--cWhite);
  background: transparent;
}

.subscription-title {
  font-weight: 400;
  font-size: var(--sFontSmall);
  padding-right: 5px;
}

.subscription-btn {
  content: "";
  position: relative;
  margin-left: 15px;
  border: 2px solid #ffffff;
  padding: 3px 10px 6px 15px;
  display: inline-block;
  clip-path: polygon(0 0, 100% 0%, 100% 100%, 22% 100%);
}
