.section-main-intro {
  background: url(../images/playgaming-bg.png) no-repeat;
  background-size: cover;
  height: 810px;
  // flex-grow: 1;
  // flex-shrink: 0;
}
.main-top-logo {
  display: block;
  max-width: 950px;
  margin-top: 65px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  justify-content: space-around;
}
.main-title {
  position: relative;
  margin-top: 160px;
  text-align: center;
  width: 100%;
  color: var(--cWhite);
  z-index: 1;
}
.main-title-bg {
  padding: 0 20px 0 20px;
}
.main-title-text {
  position: absolute;
  width: 100%;
  top: 62px;
  display: flex;
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  text-align: center;
  justify-content: center;
  @media screen and (max-width: 1200px) {
    font-size: 60px;
  }
  @media screen and (max-width: 768px) {
    font-size: 50px;
  }
  span {
    position: relative;
    padding: 0 20px;
    background: transparent;
  }
  span:before {
    content: "";
    position: absolute;
    border-bottom: 88px solid transparent;
    border-right: 41px solid var(--cRed);
    top: 0px;
    left: 30px;
    z-index: -1;
  }
  span:after {
    content: "";
    position: absolute;
    border-bottom: 88px solid transparent;
    border: 44px solid var(--cRed);
    top: 0;
    left: 70px;
    width: 265px;
    z-index: -1;
  }
}
.main-title-subtext {
  position: absolute;
  bottom: 15px;
  width: 100%;
  font-weight: 600;
  font-size: var(--sFontBody);
  @media screen and (max-width: 1200px) {
    font-size: 18px;
  }
  @media screen and (max-width: 768px) {
    font-size: var(--sFontSmall);
  }
}
.navigation {
  flex-direction: row;
  padding-top: 225px;
  background: #000000 transparent;
  font-weight: 700;
  font-size: var(--sFontSmall);
  text-transform: uppercase;
  color: var(--cWhite);
  align-items: center;
  text-align: center;
  justify-content: space-between;
  margin: 0 auto;
  @media screen and (max-width: 768px) {
    font-size: 12px;
  }
  a {
    padding-right: 35px;
    color: var(--cWhite);
    text-decoration: none;
    cursor: pointer;
  }
  a:hover {
    color: var(--cGray);
  }
  a:last-child {
    padding-right: 0;
  }
}
