.section-main-intro {
  background: url(../images/playgaming-bg.png) no-repeat;
  background-size: cover;
  height: 810px;
}
.main-top-logo {
  display: block;
  max-width: 950px;
  margin-top: 65px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  justify-content: space-around;
}
.main-title {
  position: relative;
  margin-top: 160px;
  text-align: center;
  width: 100%;
  color: var(--cWhite);
}
.main-title-text {
  position: absolute;
  width: 100%;
  top: 62px;
  display: flex;
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  text-align: center;
  justify-content: space-around;
}
.main-title-subtext {
  position: absolute;
  bottom: 15px;
  width: 100%;
  font-weight: 600;
  font-size: var(--sFontBody);
}
.navigation {
  flex-direction: row;
  padding-top: 225px;
  background: #000000 transparent;
  font-weight: 700;
  font-size: var(--sFontSmall);
  text-transform: uppercase;
  color: var(--cWhite);
  align-items: center;
  text-align: center;
  justify-content: space-between;

  a {
    padding-right: 35px;
  }
  a:last-child {
    padding-right: 0;
  }
}
