.section-our-family {
  position: relative;
  background: url(../images/our-family-bg.png) no-repeat;
  background-size: cover;
  // height: 810px;
}
.our-family-bg-title {
  display: flex;
  margin-top: -120px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 900;
  font-size: 190px;
  line-height: 232px;
  color: rgba(255, 255, 255, 0.08);
}
.our-family-title {
  margin-top: -135px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 900;
  font-size: 48px;
  line-height: 59px;
  color: var(--cWhite);
  align-items: center;
  text-align: center;
}
.our-family-subtitle {
  padding-top: 18px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: var(--sFontBody);
  line-height: 22px;
  text-transform: uppercase;
  color: var(--cWhite);
  align-items: center;
  text-align: center;
}
.carousel-players {
  display: flex;
  justify-content: space-between;
  position: relative;
  margin-top: 50px;
}
.arrow-btn {
  background: url(../images/right-arrow-bg.png);
  border: none;
  position: absolute;
  top: 50%;
  right: 45px;
  transform: translateY(-50%);
  width: 51px;
  height: 51px;
  cursor: pointer;
  z-index: 1;
}
.arrow {
}
.player-col {
  justify-content: space-between;
}
.player-col:nth-child(1) {
  padding: 0 2px 0 35px;
}
.player-col:nth-child(2) {
  padding: 0 2px 0 2px;
}
.player-col:nth-child(3) {
  padding: 0 2px 0 2px;
}
.player-col:nth-child(4) {
  padding: 0 35px 0 2px;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
