.section-our-family {
  position: relative;
  background: url(../images/our-family-bg.png) no-repeat;
  background-size: cover;
}

@media screen and (max-width: 768px) {
  .our-family {
    padding-top: 50px;
  }
}

.our-family-bg-title {
  display: flex;
  margin-top: -120px;
  font-style: normal;
  font-weight: 900;
  font-size: 180px;
  color: rgba(255, 255, 255, 0.08);
  align-items: center;
  text-align: center;
}
@media screen and (max-width: 1200px) {
  .our-family-bg-title {
    font-size: 160px;
    margin-top: 0;
    justify-content: center;
  }
}
@media screen and (max-width: 1100px) {
  .our-family-bg-title {
    font-size: 95px;
    padding: 0 20px 0 20px;
    justify-content: center;
  }
}

.our-family-title {
  margin-top: -135px;
  font-weight: 900;
  font-size: var(--sFontExtraLarge);
  color: var(--cWhite);
  align-items: center;
  text-align: center;
}
@media screen and (max-width: 1200px) {
  .our-family-title {
    font-size: 40px;
  }
}
@media screen and (max-width: 1100px) {
  .our-family-title {
    font-size: 40px;
    padding-top: 55px;
    justify-content: center;
  }
}
@media screen and (max-width: 768px) {
  .our-family-title {
    font-size: 30px;
    margin-top: -70px;
    justify-content: center;
  }
}

.our-family-subtitle {
  padding-top: 18px;
  font-weight: 600;
  font-size: var(--sFontBody);
  text-transform: uppercase;
  color: var(--cWhite);
  align-items: center;
  text-align: center;
}
@media screen and (max-width: 1200px) {
  .our-family-subtitle {
    font-size: 16px;
  }
}
@media screen and (max-width: 768px) {
  .our-family-subtitle {
    font-size: var(--sFontSmall);
  }
}

.carousel-players {
  display: flex;
  justify-content: space-between;
  position: relative;
  margin-top: 50px;
}

.arrow-btn {
  background: url(../images/right-arrow-bg.png);
  border: none;
  position: absolute;
  top: 50%;
  right: 45px;
  transform: translateY(-50%);
  width: 51px;
  height: 51px;
  cursor: pointer;
  z-index: 1;
}
@media screen and (max-width: 768px) {
  .arrow-btn {
    width: 27px;
    height: 27px;
  }
}

.player-col {
  justify-content: space-between;
}

.player-col:nth-child(1) {
  padding: 0 2px 0 35px;
}

.player-col:nth-child(2) {
  padding: 0 2px 0 2px;
}

.player-col:nth-child(3) {
  padding: 0 2px 0 2px;
}

.player-col:nth-child(4) {
  padding: 0 35px 0 2px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  margin: 0 auto;
}
