.partners-labels-section {
  background: url(../images/footer-bg.png) no-repeat;
  background-size: cover;
  height: 811px;
}
.labels-block {
  margin-top: 100px;
  display: flex;
  flex-wrap: wrap;
}
.labels-block img {
  display: flex;
  margin: 0 auto;
  ;
}
.bottom-menu {
  padding: 0 50px;
  max-width: 1285px;
}
.menu__block {
  display: flex;
  flex-flow: row nowrap;
  align-items: stretch;
  justify-content: space-between;
  margin: 0 auto;
  padding: 200px 0 20px 0;
}
.menu__logo {
  margin-right: 200px;
}
.menu__block_col {
  display: block;
  width: 33.3333%;
  color: var(--cWhite);
}
.menu__title {
  display: block;
  margin-bottom: 45px;
  font-weight: 700;
  font-size: var(--sFontSmall);
  text-transform: uppercase;
}
.menu__item {
  display: block;
  padding-bottom: 15px;
  font-weight: 700;
  font-size: var(--sFontSmall);
  text-transform: uppercase;
}
.social-media {
  text-transform: capitalize;
  font-weight: 500;
}
