.shop-section {
  background: url(../images/shop-bg.png) no-repeat;
  background-size: cover;
  padding-bottom: 100px;
}
.shop-block {
  max-width: 1485px;
  @media screen and (max-width: 768px) {
    padding: 0 20px;
  }
}
.shop-bg-title {
  position: relative;
  top: -160px;
  font-weight: 900;
  font-size: 180px;
  color: rgba(255, 255, 255, 0.07);
  text-align: center;
  align-items: center;
  @media screen and (max-width: 768px) {
    top: -60px;
  }
}
.shop-title {
  font-weight: 900;
  font-size: var(--sFontExtraLarge);
  color: var(--cWhite);
  position: relative;
  top: -300px;
  text-align: center;
  align-items: center;
  @media screen and (max-width: 768px) {
    top: -190px;
  }
}
.shop__merch {
  margin-top: -200px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  @media screen and (max-width: 768px) {
    margin-top: -100px;
    max-width: 90%;
    margin: auto;
  }
}
.shop__merch_bg {
  background: url(../images/cap.svg) no-repeat center;
  background-size: auto;
  height: 224px;
  width: 305px;
  max-height: 100%;
  max-width: 100%;
  object-fit: cover;
  align-items: center;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  position: relative;
}
.shop__merch_bg:before {
  content: "";
  position: absolute;
  border-right: 0 solid transparent;
  border-top: 0 solid transparent;
  border-bottom: 66px solid var(--cRed);
  border-left: 66px solid transparent;
  bottom: 0;
  right: 0;
}
.shop__merch_bg:after {
  background: url("../images/plus-icon.svg") no-repeat;
  position: absolute;
  content: "";
  color: var(--cWhite);
  height: 16px;
  width: 16px;
  bottom: 12px;
  right: 12px;
  cursor: pointer;
}
.shop__merch_col {
  max-width: 20%;
  display: flex;
  flex-direction: column;
  margin: 20px;
  @media screen and (max-width: 768px) {
    max-width: 42%;
  }
}
.shop__merch_col-title {
  font-weight: 500;
  font-size: var(--sFontMedium);
  text-align: center;
  color: var(--cWhite);
  margin-bottom: 10px;
}
.shop__merch_col-price {
  font-weight: 500;
  font-size: var(--sFontMedium);
  text-align: center;
  color: var(--cWhite);
}
