.shop-section {
  background: url(../images/shop-bg.png) no-repeat;
  background-size: cover;
  height: 100%;
}
.shop-block {
  max-width: 1485px;
}
.shop-bg-title {
  position: relative;
  top: -160px;
  font-weight: 900;
  font-size: 190px;
  color: rgba(255, 255, 255, 0.07);
  text-align: center;
  align-items: center;
}
.shop-title {
  font-weight: 900;
  font-size: var(--sFontExtraLarge);
  color: var(--cWhite);
  position: relative;
  top: -300px;
  text-align: center;
  align-items: center;
}
.shop__merch {
  margin-top: -200px;
  display: flex;
  flex-wrap: wrap;
}
.shop__merch_bg {
  background: url(../images/cap.svg) no-repeat center;
  background-size: auto;
  height: 224px;
  width: 305px;
  max-height: 100%;
  max-width: 100%;
  object-fit: cover;
  align-items: center;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
}
.shop__merch_col {
  max-width: 25%;
  display: flex;
  flex-direction: column;
  margin: 5px;
}
.shop__merch_col-title {
  font-weight: 500;
  font-size: var(--sFontMedium);
  text-align: center;
  color: var(--cWhite);
  margin-bottom: 10px;
}
.shop__merch_col-price {
  font-weight: 500;
  font-size: var(--sFontMedium);
  text-align: center;

  color: var(--cWhite);
}
