body {
  margin: 0;
  background-color: var(--cWhite);
  display: flex;
  flex-direction: column;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

.container {
  max-width: 1285px;
  padding: 0 80px;
  margin: 0 auto;
}

:root {
  --cWhite: #ffffff;
  --cGray: #6f6f6f;
  --cRed: #d62027;
  --cBlack: #000000;
  --sFontBody: 18px;
  --sFontSmall: 15px;
  --sFontMedium: 16px;
  --sFontHuge: 24px;
  --sFontExtraLarge: 48px;
}

.section-main-intro {
  background: url(../images/playgaming-bg.png) no-repeat;
  background-size: cover;
  height: 810px;
}

.main-top-logo {
  display: block;
  max-width: 950px;
  margin-top: 65px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  justify-content: space-around;
}

.main-title {
  position: relative;
  margin-top: 160px;
  text-align: center;
  width: 100%;
  color: var(--cWhite);
  z-index: 1;
}

.main-title-bg {
  padding: 0 20px;
}
@media screen and (max-width: 768px) {
  .main-title-bg {
    max-width: 70%;
  }
}

.main-title-text {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  text-align: center;
  justify-content: center;
}
@media screen and (max-width: 1200px) {
  .main-title-text {
    font-size: 50px;
  }
}
@media screen and (max-width: 900px) {
  .main-title-text {
    font-size: 40px;
  }
}
@media screen and (max-width: 768px) {
  .main-title-text {
    font-size: 30px;
  }
}
.main-title-text span {
  position: relative;
  padding: 0 20px;
  background: transparent;
}
.main-title-text span:before {
  content: "";
  position: absolute;
  border-bottom: 88px solid transparent;
  border-right: 41px solid var(--cRed);
  top: 0px;
  left: 30px;
  z-index: -1;
}
@media screen and (max-width: 768px) {
  .main-title-text span:before {
    border-bottom: 41px solid transparent;
  }
}
.main-title-text span:after {
  content: "";
  position: absolute;
  border-bottom: 88px solid transparent;
  border: 44px solid var(--cRed);
  top: 0;
  left: 70px;
  width: 265px;
  z-index: -1;
}
@media screen and (max-width: 768px) {
  .main-title-text span:after {
    border: 20px solid var(--cRed);
  }
}

.main-title-subtext {
  position: absolute;
  bottom: 15px;
  width: 100%;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: 600;
  font-size: var(--sFontBody);
}
@media screen and (max-width: 1200px) {
  .main-title-subtext {
    font-size: 15px;
  }
}
@media screen and (max-width: 900px) {
  .main-title-subtext {
    font-size: 12px;
  }
}
@media screen and (max-width: 768px) {
  .main-title-subtext {
    font-size: 10px;
  }
}

.navigation {
  flex-direction: row;
  padding-top: 225px;
  background: #000000 transparent;
  font-weight: 700;
  font-size: var(--sFontSmall);
  text-transform: uppercase;
  color: var(--cWhite);
  align-items: center;
  text-align: center;
  justify-content: space-between;
  margin: 0 auto;
}
@media screen and (max-width: 768px) {
  .navigation {
    font-size: 12px;
    max-width: 80%;
  }
}
.navigation a {
  padding-right: 35px;
  color: var(--cWhite);
  text-decoration: none;
  cursor: pointer;
}
.navigation a:hover {
  color: var(--cGray);
}
.navigation a:last-child {
  padding-right: 0;
}

.section-who-we-are {
  background: url(../images/who-we-are-bg.png) no-repeat;
  background-size: cover;
  padding-bottom: 120px;
}

.shadow-bg {
  height: 100%;
  background: url(../images/shadow-bg.png) left 0px top 50px no-repeat;
}

.who-we-are-bg-title {
  font-weight: 900;
  font-size: 180px;
  color: rgba(50, 50, 50, 0.28);
  align-items: center;
  text-align: center;
}
@media screen and (max-width: 1200px) {
  .who-we-are-bg-title {
    font-size: 140px;
  }
}
@media screen and (max-width: 768px) {
  .who-we-are-bg-title {
    font-size: 60px;
  }
}

.who-we-are-title {
  max-width: 400px;
  position: relative;
  top: -130px;
  font-weight: 900;
  font-size: var(--sFontExtraLarge);
  color: var(--cWhite);
  align-items: center;
  text-align: center;
  margin: 0 auto;
  z-index: 1;
}
@media screen and (max-width: 1200px) {
  .who-we-are-title {
    font-size: 30px;
    top: -110px;
  }
}
@media screen and (max-width: 768px) {
  .who-we-are-title {
    font-size: 20px;
    top: -50px;
  }
}

.who-we-are-title:before {
  content: "";
  position: absolute;
  border-top: 60px solid transparent;
  border-left: 31px solid var(--cRed);
  top: 0px;
  left: 299px;
  z-index: -1;
}
@media screen and (max-width: 1200px) {
  .who-we-are-title:before {
    border-top: 40px solid transparent;
  }
}
@media screen and (max-width: 768px) {
  .who-we-are-title:before {
    border-top: 26px solid transparent;
    border-left: 30px solid var(--cRed);
  }
}

.who-we-are-title:after {
  content: "";
  position: absolute;
  border-bottom: 93px solid transparent;
  border: 30px solid var(--cRed);
  left: 47px;
  width: 252px;
  z-index: -1;
}
@media screen and (max-width: 1200px) {
  .who-we-are-title:after {
    border: 20px solid var(--cRed);
    left: 89px;
    width: 210px;
  }
}
@media screen and (max-width: 768px) {
  .who-we-are-title:after {
    border-bottom: 95px solid transparent;
    border: 13px solid var(--cRed);
    left: 74px;
    width: 226px;
  }
}

.who-we-are-subtitle {
  position: relative;
  top: -120px;
  font-weight: 600;
  font-size: var(--sFontBody);
  text-transform: uppercase;
  color: var(--cWhite);
  align-items: center;
  text-align: center;
}
@media screen and (max-width: 1200px) {
  .who-we-are-subtitle {
    font-size: 16px;
    top: -100px;
  }
}
@media screen and (max-width: 768px) {
  .who-we-are-subtitle {
    font-size: 9px;
    top: -45px;
  }
}

.who-we-are-text {
  margin-top: -30px;
  font-weight: 500;
  font-size: var(--sFontBody);
  text-align: center;
  color: var(--cWhite);
  align-items: center;
  text-align: center;
}
@media screen and (max-width: 768px) {
  .who-we-are-text {
    font-size: 11px;
    margin: 0 auto;
    max-width: 90%;
  }
}

.statistics {
  padding-top: 75px;
  display: flex;
  color: var(--cWhite);
  justify-content: space-between;
  text-align: center;
}
@media screen and (max-width: 768px) {
  .statistics {
    max-width: 90%;
    margin: 0 auto;
  }
}

.statistic-item {
  display: block;
}

.statistic-games-counter,
.statistic-streams-counter,
.statistic-teams-counter {
  font-weight: 900;
  font-size: 64px;
  color: var(--cRed);
}
@media screen and (max-width: 1000px) {
  .statistic-games-counter,
.statistic-streams-counter,
.statistic-teams-counter {
    font-size: 50px;
  }
}
@media screen and (max-width: 768px) {
  .statistic-games-counter,
.statistic-streams-counter,
.statistic-teams-counter {
    font-size: 25px;
  }
}

.statistic-games-label,
.statistic-streams-label,
.statistic-teams-label {
  font-weight: 600;
  font-size: var(--sFontBody);
  text-transform: uppercase;
  color: var(--cWhite);
}
@media screen and (max-width: 1000px) {
  .statistic-games-label,
.statistic-streams-label,
.statistic-teams-label {
    font-size: 13px;
  }
}
@media screen and (max-width: 768px) {
  .statistic-games-label,
.statistic-streams-label,
.statistic-teams-label {
    font-size: 11px;
  }
}

.section-our-family {
  position: relative;
  background: url(../images/our-family-bg.png) no-repeat;
  background-size: cover;
}

@media screen and (max-width: 768px) {
  .our-family {
    padding-top: 50px;
  }
}

.our-family-bg-title {
  display: flex;
  position: relative;
  font-style: normal;
  font-weight: 900;
  font-size: 180px;
  color: rgba(255, 255, 255, 0.08);
  align-items: center;
  text-align: center;
  justify-content: center;
  padding: 0 20px 0 20px;
}
@media screen and (max-width: 1200px) {
  .our-family-bg-title {
    font-size: 160px;
    margin-top: 0;
  }
}
@media screen and (max-width: 1100px) {
  .our-family-bg-title {
    font-size: 95px;
  }
}
@media screen and (max-width: 768px) {
  .our-family-bg-title {
    font-size: 65px;
  }
}

.our-family-title {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: 900;
  font-size: var(--sFontExtraLarge);
  color: var(--cWhite);
  align-items: center;
  text-align: center;
}
@media screen and (max-width: 1200px) {
  .our-family-title {
    font-size: 40px;
  }
}
@media screen and (max-width: 1100px) {
  .our-family-title {
    font-size: 30px;
    top: 20%;
  }
}
@media screen and (max-width: 768px) {
  .our-family-title {
    font-size: 20px;
    top: 35%;
  }
}

.our-family-subtitle {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: 600;
  font-size: var(--sFontBody);
  text-transform: uppercase;
  color: var(--cWhite);
  align-items: center;
  text-align: center;
}
@media screen and (max-width: 1200px) {
  .our-family-subtitle {
    font-size: 16px;
  }
}
@media screen and (max-width: 1100px) {
  .our-family-subtitle {
    font-size: 12px;
    top: 30%;
  }
}
@media screen and (max-width: 768px) {
  .our-family-subtitle {
    font-size: 10px;
    top: 45%;
  }
}

.carousel-players {
  display: flex;
  justify-content: space-between;
  position: relative;
  margin-top: 50px;
}

.arrow-btn {
  background: url(../images/right-arrow-bg.png);
  border: none;
  position: absolute;
  top: 50%;
  right: 45px;
  transform: translateY(-50%);
  width: 51px;
  height: 51px;
  cursor: pointer;
  z-index: 1;
}
@media screen and (max-width: 768px) {
  .arrow-btn {
    width: 27px;
    height: 27px;
  }
}

.player-col {
  justify-content: space-between;
}

.player-col:nth-child(1) {
  padding: 0 2px 0 35px;
}

.player-col:nth-child(2) {
  padding: 0 2px 0 2px;
}

.player-col:nth-child(3) {
  padding: 0 2px 0 2px;
}

.player-col:nth-child(4) {
  padding: 0 35px 0 2px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  margin: 0 auto;
}

.events-section {
  position: relative;
  background: url(../images/events-bg.png) no-repeat;
  background-size: cover;
  height: 811px;
  padding-top: 100px;
}

.events {
  display: flex;
  max-width: 90%;
  margin: 0 auto;
}

.poster-block img {
  max-height: 100%;
  width: 100%;
  height: 100%;
  object-fit: contain;
  display: block;
  margin: auto auto;
}
@media screen and (max-width: 768px) {
  .poster-block img {
    height: auto;
  }
}

.events-block {
  width: 55%;
  position: relative;
}

.poster-block {
  width: 711px;
  max-height: 100%;
}
.event-bg-title {
  display: flex;
  font-weight: 900;
  font-size: 180px;
  color: rgba(71, 71, 71, 0.22);
  align-items: center;
  text-align: right;
  padding-left: 20px;
}
@media screen and (max-width: 1200px) {
  .event-bg-title {
    font-size: 160px;
  }
}
@media screen and (max-width: 1100px) {
  .event-bg-title {
    font-size: 140px;
  }
}
@media screen and (max-width: 950px) {
  .event-bg-title {
    font-size: 110px;
  }
}
@media screen and (max-width: 768px) {
  .event-bg-title {
    font-size: 80px;
  }
}

.event-title {
  font-weight: 900;
  font-size: var(--sFontExtraLarge);
  color: var(--cWhite);
  margin-top: -120px;
  margin-right: 210px;
  float: right;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@media screen and (max-width: 1100px) {
  .event-title {
    font-size: 32px;
    top: 70%;
  }
}
@media screen and (max-width: 950px) {
  .event-title {
    font-size: 26px;
    top: 70%;
  }
}
@media screen and (max-width: 768px) {
  .event-title {
    font-size: 20px;
    top: 90%;
  }
}

.events-schedule__info {
  color: var(--cWhite);
  display: flex;
}

.events-schedule__info_date {
  padding-left: 30px;
}
@media screen and (max-width: 768px) {
  .events-schedule__info_date {
    padding-left: 10px;
  }
}

.events-schedule__info_day {
  display: flex;
  font-weight: 900;
  font-size: 72px;
}
@media screen and (max-width: 1100px) {
  .events-schedule__info_day {
    font-size: 50px;
    justify-content: center;
  }
}
@media screen and (max-width: 768px) {
  .events-schedule__info_day {
    font-size: 30px;
  }
}

.events-schedule__info_month-year {
  font-weight: 900;
  font-size: var(--sFontMedium);
}
@media screen and (max-width: 1100px) {
  .events-schedule__info_month-year {
    font-size: 11px;
  }
}
@media screen and (max-width: 768px) {
  .events-schedule__info_month-year {
    font-size: 6px;
  }
}

.events-schedule__info_title {
  padding: 25px 0px 0px 35px;
  align-items: center;
  justify-content: left;
}
@media screen and (max-width: 768px) {
  .events-schedule__info_title {
    padding: 13px 0px 0px 35px;
  }
}

.events-schedule__info_text {
  padding-bottom: 10px;
  font-weight: 900;
  font-size: var(--sFontHuge);
}
@media screen and (max-width: 1100px) {
  .events-schedule__info_text {
    font-size: 15px;
  }
}
@media screen and (max-width: 768px) {
  .events-schedule__info_text {
    font-size: 10px;
  }
}

.events-schedule__info_location {
  font-weight: 700;
  font-size: var(--sFontSmall);
}
@media screen and (max-width: 1100px) {
  .events-schedule__info_location {
    font-size: 11px;
  }
}
@media screen and (max-width: 768px) {
  .events-schedule__info_location {
    font-size: 7px;
  }
}

.events-schedule__info_location span {
  color: var(--cRed);
}

.news-section {
  background: url(../images/news-bg.png) no-repeat;
  background-size: cover;
  height: 811px;
}
@media screen and (max-width: 768px) {
  .news-section {
    height: auto;
    padding-bottom: 50px;
  }
}

.news-bg-title {
  position: relative;
  top: -220px;
  font-weight: 900;
  font-size: 180px;
  color: rgba(255, 255, 255, 0.07);
  text-align: center;
  align-items: center;
}
@media screen and (max-width: 768px) {
  .news-bg-title {
    font-size: 140px;
  }
}

.news-title {
  font-weight: 900;
  font-size: var(--sFontExtraLarge);
  color: var(--cWhite);
  top: -320px;
  text-align: center;
  align-items: center;
  position: relative;
  left: 50%;
  transform: translate(-50%, -50%);
}
@media screen and (max-width: 768px) {
  .news-title {
    font-size: 38px;
    top: -300px;
  }
}

.news__articles {
  display: flex;
  margin-top: -300px;
  gap: 65px;
  padding-top: 50px;
}
@media screen and (max-width: 768px) {
  .news__articles {
    padding-top: 65px;
    gap: 30px;
  }
}

.news__col {
  color: var(--cWhite);
}

.news__article_content {
  margin: 30px 25px 0 25px;
}
@media screen and (max-width: 768px) {
  .news__article_content {
    margin: 20px 5px 0 5px;
  }
}

.news__article_content-title {
  font-weight: 900;
  font-size: var(--sFontHuge);
  margin-bottom: 30px;
}
@media screen and (max-width: 768px) {
  .news__article_content-title {
    font-size: 12px;
  }
}

.news__article_content-text {
  font-weight: 400;
  font-size: var(--sFontMedium);
  color: var(--cGray);
  margin-bottom: 35px;
}
@media screen and (max-width: 768px) {
  .news__article_content-text {
    font-size: 10px;
  }
}

.shop-section {
  background: url(../images/shop-bg.png) no-repeat;
  background-size: cover;
  padding-bottom: 100px;
}

.shop-block {
  max-width: 1485px;
}
@media screen and (max-width: 768px) {
  .shop-block {
    padding: 0 20px;
  }
}

.shop-bg-title {
  position: relative;
  top: -160px;
  font-weight: 900;
  font-size: 180px;
  color: rgba(255, 255, 255, 0.07);
  text-align: center;
  align-items: center;
}
@media screen and (max-width: 768px) {
  .shop-bg-title {
    top: -60px;
  }
}

.shop-title {
  font-weight: 900;
  font-size: var(--sFontExtraLarge);
  color: var(--cWhite);
  position: relative;
  top: -300px;
  text-align: center;
  align-items: center;
}
@media screen and (max-width: 768px) {
  .shop-title {
    top: -190px;
  }
}

.shop__merch {
  margin-top: -200px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
@media screen and (max-width: 768px) {
  .shop__merch {
    margin-top: -100px;
    max-width: 90%;
    margin: auto;
  }
}

.shop__merch_bg {
  background: url(../images/cap.svg) no-repeat center;
  background-size: auto;
  height: 224px;
  width: 305px;
  max-height: 100%;
  max-width: 100%;
  object-fit: cover;
  align-items: center;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  position: relative;
}

.shop__merch_bg:before {
  content: "";
  position: absolute;
  border-right: 0 solid transparent;
  border-top: 0 solid transparent;
  border-bottom: 66px solid var(--cRed);
  border-left: 66px solid transparent;
  bottom: 0;
  right: 0;
}

.shop__merch_bg:after {
  background: url("../images/plus-icon.svg") no-repeat;
  position: absolute;
  content: "";
  color: var(--cWhite);
  height: 16px;
  width: 16px;
  bottom: 12px;
  right: 12px;
  cursor: pointer;
}

.shop__merch_col {
  max-width: 20%;
  display: flex;
  flex-direction: column;
  margin: 20px;
}
@media screen and (max-width: 768px) {
  .shop__merch_col {
    max-width: 42%;
  }
}

.shop__merch_col-title {
  font-weight: 500;
  font-size: var(--sFontMedium);
  text-align: center;
  color: var(--cWhite);
  margin-bottom: 10px;
}

.shop__merch_col-price {
  font-weight: 500;
  font-size: var(--sFontMedium);
  text-align: center;
  color: var(--cWhite);
}

.partners-labels-section {
  background: url(../images/footer-bg.png) no-repeat;
  background-size: cover;
}

.labels-block {
  margin-top: 100px;
  display: flex;
  flex-wrap: wrap;
}

.labels-block img {
  display: flex;
  margin: 0 auto;
}
@media screen and (max-width: 1200px) {
  .labels-block img {
    width: 12%;
  }
}

.bottom-menu {
  padding: 0 50px;
  max-width: 1285px;
}

.menu__block {
  display: flex;
  flex-flow: row nowrap;
  align-items: stretch;
  justify-content: space-between;
  margin: 0 auto;
  padding: 200px 0 20px 0;
}

.menu__block_col {
  display: block;
  width: 33.3333%;
  color: var(--cWhite);
}

.menu__title {
  display: block;
  margin-bottom: 45px;
  font-weight: 700;
  font-size: var(--sFontSmall);
  text-transform: uppercase;
}

.menu__item {
  display: block;
  padding-bottom: 15px;
  font-weight: 700;
  font-size: var(--sFontSmall);
  text-transform: uppercase;
}
.menu__item a {
  color: var(--cWhite);
  text-decoration: none;
}

.social-media {
  text-transform: capitalize;
  font-weight: 500;
}

.footer {
  background: url(../images/footer.png) no-repeat;
  background-size: cover;
  padding: 100px 50px;
}

.footer__block {
  display: flex;
  justify-content: space-between;
  color: var(--cWhite);
  max-width: 1285px;
  margin: auto;
}

.sign {
  padding-right: 20px;
}
@media screen and (max-width: 768px) {
  .sign {
    font-size: 9px;
  }
}

.subscription-form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 50%;
}
.subscription-input {
  padding: 0 5px 0 10px;
  border: none;
  border-bottom: 1px solid var(--cWhite);
  background: transparent;
}

.subscription-input[placeholder] {
  color: var(--cWhite);
}

.subscription-title {
  font-weight: 400;
  font-size: var(--sFontSmall);
  padding-right: 5px;
  width: 40%;
}
@media screen and (max-width: 768px) {
  .subscription-title {
    font-size: 9px;
    width: 50%;
  }
}

.btn {
  border: 3px solid var(--cWhite);
  padding: 6px 10px;
  position: relative;
  margin-left: 20px;
}
@media screen and (max-width: 768px) {
  .btn {
    font-size: 12px;
    border: 2px solid var(--cWhite);
  }
}

.subscription-btn {
  position: relative;
  background: black;
  cursor: pointer;
}

.subscription-btn:before {
  position: absolute;
  border-bottom: 37px solid transparent;
  border-right: 19px solid var(--cWhite);
  content: "";
  height: 0;
  left: -32px;
  top: -9px;
}
@media screen and (max-width: 768px) {
  .subscription-btn:before {
    border-bottom: 32px solid transparent;
    left: -31px;
    top: -8px;
  }
}

.subscription-btn:after {
  position: absolute;
  border-bottom: 31px solid transparent;
  border-right: 13px solid black;
  border-top: 0 solid transparent;
  content: "";
  height: 0px;
  left: -23px;
  top: -6px;
}
@media screen and (max-width: 768px) {
  .subscription-btn:after {
    border-bottom: 28px solid transparent;
    border-right: 16px solid black;
    left: -25px;
  }
}

@media screen and (max-width: 768px) {
  .email-logo img {
    height: 80%;
    width: 80%;
  }
}

.team-header {
  background: url(../images/team-intro-bg.png) no-repeat;
  background-size: cover;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 30px 35px;
}

.header__navbar {
  display: flex;
  color: var(--cWhite);
  font-weight: 700;
  font-size: 15px;
  text-transform: uppercase;
  text-align: center;
  align-items: center;
}
.header__navbar .active {
  color: var(--cRed);
}
.header__navbar a {
  padding-right: 35px;
}
.header__navbar a:last-child {
  padding-right: 0;
}

.header__lang-bar {
  display: flex;
}
.header__lang-bar .eng {
  display: flex;
  color: var(--cWhite);
  align-items: center;
}
.header__lang-bar img {
  margin-left: 6px;
}

.cs-logo {
  margin-top: 10px;
}

.logo-block {
  position: relative;
  text-align: center;
  color: var(--cWhite);
}

.logo-title {
  font-weight: 900;
  font-size: 72px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.logo-title:before {
  position: absolute;
  width: 100px;
  height: 30px;
  color: var(--cRed);
}

.logo-subtitle {
  font-weight: 600;
  font-size: 18px;
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.team-members {
  position: relative;
  margin: 35px 0;
  width: 100%;
  max-height: 100%;
  height: 100%;
}

.team-members__img {
  display: block;
  object-fit: contain;
  margin: 0 auto;
  z-index: -1;
}

.team-members__img_shadow-bg {
  z-index: 1;
  position: absolute;
  top: 51%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.team-block {
  background: url(../images/team-block-bg.png) no-repeat;
  background-size: cover;
  height: 900px;
  padding-top: 30px;
}

.team {
  max-width: 1500px;
}

.team-container {
  display: flex;
  justify-content: space-between;
}

.team-content {
  width: 50%;
}

.logo-team-block {
  position: relative;
  display: block;
  color: var(--cWhite);
  align-items: center;
  text-align: center;
}

.logo-team-bg-title {
  color: rgba(255, 255, 255, 0.04);
  font-weight: 900;
  font-size: 190px;
}

.logo-team-title {
  font-weight: 900;
  font-size: 48px;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.logo-team-title:before {
  content: "";
  position: absolute;
  border-top: 60px solid transparent;
  border-right: 42px solid var(--cRed);
  top: 0px;
  left: 33px;
  z-index: -1;
}
.logo-team-title:after {
  content: "";
  position: absolute;
  border: 30px solid var(--cRed);
  top: 0px;
  left: 74px;
  width: 82px;
  z-index: -1;
}

.team-content__text {
  color: var(--cWhite);
  font-size: 16px;
  line-height: 1.8;
  font-weight: 500;
}

.team-img {
  width: 50%;
}

.wolsung-wall {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.players-block {
  position: relative;
  background: url(../images/players-bg.png) no-repeat;
  background-size: cover;
  height: 811px;
}

.logo-player-block {
  position: relative;
  top: -100px;
  display: block;
  color: var(--cWhite);
  margin: auto;
  align-items: center;
  text-align: center;
}

.logo-player-bg-title {
  color: rgba(255, 255, 255, 0.08);
  font-weight: 900;
  font-size: 190px;
}

.logo-player-title {
  font-weight: 900;
  font-size: 48px;
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.logo-player-subtitle {
  color: var(--cWhite);
  font-weight: 500;
  font-size: 18px;
  text-transform: uppercase;
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.players-table {
  position: relative;
  top: -100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.players__col {
  width: 30%;
  flex-direction: column;
  display: flex;
  margin: 5px;
}

.players__col_bg {
  background: url(../images/inde-bg.png) no-repeat center;
  position: relative;
  background-size: cover;
  height: 351px;
  width: 100%;
  max-height: 100%;
  max-width: 100%;
  object-fit: cover;
  align-items: center;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
}

.players__col_person {
  display: block;
  position: absolute;
  top: 43%;
  left: 79%;
  transform: translate(-50%, -50%);
}

.timeline-block {
  position: relative;
  background: url(../images/timeline-bg.png) no-repeat;
  background-size: cover;
  height: 811px;
}

.logo-timeline-block {
  position: relative;
  display: block;
  color: var(--cWhite);
  margin-top: 50px;
  align-items: center;
  text-align: center;
}

.logo-timeline-bg-title {
  color: rgba(255, 255, 255, 0.08);
  font-weight: 900;
  font-size: 190px;
}

.logo-timeline-title {
  font-weight: 900;
  font-size: 48px;
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.logo-timeline-subtitle {
  color: var(--cWhite);
  font-weight: 500;
  font-size: 18px;
  text-transform: uppercase;
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.timeline-schedule {
  margin-top: 50px;
  position: relative;
}

.timeline-schedule__info {
  color: var(--cWhite);
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
}

.timeline-schedule__info_date {
  padding: 0 30px;
}

.timeline-schedule__info_day {
  display: flex;
  font-weight: 900;
  font-size: 72px;
}

.timeline-schedule__info_month-year {
  font-weight: 900;
  font-size: var(--sFontMedium);
}

.timeline-schedule__info_title {
  background: url(../images/timeline-rectangle.svg) no-repeat;
  background-size: cover;
  padding: 25px 65px 0px 35px;
  align-items: center;
  justify-content: left;
}

.timeline-schedule__info_text {
  font-weight: 900;
  font-size: 24px;
  color: var(--cBlack);
  margin-bottom: 10px;
}

.timeline-schedule__info_location {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.8;
  color: var(--cRed);
}

.timeline__img_shadow-bg {
  width: 100%;
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.partners-block {
  position: relative;
  background: url(../images/partners-bg.png) no-repeat;
  background-size: cover;
  height: 811px;
}

.labels-block {
  display: flex;
  flex-wrap: wrap;
  padding: 70px 10px 0 10px;
  max-width: 1285px;
  justify-content: center;
  text-align: center;
  align-items: center;
  margin: 0 auto;
}
@media screen and (max-width: 768px) {
  .labels-block img {
    padding: 0 10px;
    max-width: 100px;
  }
}

.team-menu__block {
  position: relative;
  display: flex;
  justify-content: space-around;
  margin: 200px 0 20px 50px;
  width: 100%;
  float: left;
}

.menu__logo {
  margin-right: 50px;
}

.menu__block_col {
  display: block;
  width: 15%;
  color: var(--cWhite);
  padding-right: 5px;
}
@media screen and (max-width: 1100px) {
  .menu__block_col {
    width: 50%;
  }
}

.menu__title {
  display: block;
  margin-bottom: 45px;
  font-weight: 700;
  font-size: var(--sFontSmall);
  text-transform: uppercase;
}
@media screen and (max-width: 768px) {
  .menu__title {
    font-size: 14px;
  }
}

.menu__item {
  display: block;
  padding-bottom: 15px;
  font-weight: 700;
  font-size: var(--sFontSmall);
  text-transform: uppercase;
}
@media screen and (max-width: 768px) {
  .menu__item {
    font-size: 12px;
  }
}

.social-media {
  text-transform: capitalize;
  font-weight: 500;
}

.input-form {
  display: block;
  margin-right: 200px;
  margin-top: -100px;
  background-color: var(--cBlack);
  box-shadow: 0px 0px 100px rgba(255, 255, 255, 0.25);
  max-width: 390px;
  width: 100%;
}

.form__header {
  display: block;
  background-color: var(--cRed);
  padding: 35px 80px;
  color: var(--cWhite);
  font-weight: 800;
  font-size: 21px;
  text-transform: uppercase;
}

.form__content {
  padding: 50px 30px 140px 30px;
  background-color: transparent;
}

input {
  width: 100%;
  border: none;
  border-bottom: 1px solid var(--cWhite);
  background: transparent;
  padding: 6px;
}

.form__content_name,
.form__content_mail,
.form__content_questions {
  font-weight: 400;
  font-size: 15px;
  color: var(--cWhite);
}

.form__content_name-placeholder::placeholder,
.form__content_mail-placeholder[placeholder],
.form__content_questions-placeholder[placeholder] {
  font-weight: 500;
  font-size: 12px;
  color: var(--cGray);
}

.submit-btn {
  margin-top: 30px;
  color: var(--cRed);
  float: right;
  border: 4px solid var(--cRed);
  background: transparent;
  padding: 17px 35px 17px 50px;
  font-weight: 700;
  font-size: 15px;
  text-transform: uppercase;
}

.submit-btn:hover {
  cursor: pointer;
}

.team-footer {
  background: url(../images/footer-bg.png) no-repeat;
  background-size: cover;
  height: 811px;
}
