body {
  margin: 0;
  background-color: #fff;
  display: flex;
  flex-direction: column;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

.container {
  width: 100%;
  max-width: 1285px;
  padding: 0 80px;
  margin: 0 auto;
}

:root {
  --cWhite: #ffffff;
  --sFontBody: 18px;
}

.section-main-intro {
  background: url(../images/playgaming-bg.png) no-repeat;
  background-size: cover;
  height: 810px;
}

.main-top-logo {
  display: block;
  max-width: 950px;
  margin-top: 65px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  justify-content: space-around;
}

.main-title {
  position: relative;
  margin-top: 160px;
  text-align: center;
  width: 100%;
  color: var(--cWhite);
}

.main-title-text {
  position: absolute;
  width: 100%;
  top: 62px;
  display: flex;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 88px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  text-align: center;
  justify-content: space-around;
}

.main-title-subtext {
  position: absolute;
  bottom: 15px;
  width: 100%;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: var(--sFontBody);
  line-height: 22px;
}

.navigation {
  flex-direction: row;
  padding-top: 225px;
  background: #000000 transparent;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--cWhite);
  align-items: center;
  text-align: center;
  justify-content: space-between;
}
.navigation a {
  padding-right: 35px;
}
.navigation a:last-child {
  padding-right: 0;
}

.section-who-we-are {
  background: url(../images/who-we-are-bg.png) no-repeat;
  background-size: cover;
  height: 780px;
}

.shadow-bg {
  height: 100%;
  background: url(../images/shadow-bg.png) left 0px top 50px no-repeat;
}

.who-we-are-bg-title {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 900;
  font-size: 190px;
  line-height: 232px;
  color: rgba(50, 50, 50, 0.28);
  align-items: center;
  text-align: center;
}

.who-we-are-title {
  position: relative;
  top: -130px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 900;
  font-size: 48px;
  line-height: 59px;
  color: var(--cWhite);
  align-items: center;
  text-align: center;
}

.who-we-are-subtitle {
  position: relative;
  top: -120px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: var(--sFontBody);
  line-height: 22px;
  text-transform: uppercase;
  color: var(--cWhite);
  align-items: center;
  text-align: center;
}

.who-we-are-text {
  margin-top: -30px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: var(--sFontBody);
  line-height: 33px;
  text-align: center;
  color: var(--cWhite);
  align-items: center;
  text-align: center;
}

.statistics {
  padding-top: 75px;
  display: flex;
  color: var(--cWhite);
  justify-content: space-between;
  text-align: center;
}

.statistic-item {
  display: block;
}

.statistic-games-counter,
.statistic-streams-counter,
.statistic-teams-counter {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 900;
  font-size: 64px;
  line-height: 78px;
  color: #d62027;
}

.statistic-games-label,
.statistic-streams-label,
.statistic-teams-label {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: var(--sFontBody);
  line-height: 22px;
  text-transform: uppercase;
  color: var(--cWhite);
}

.section-our-family {
  position: relative;
  background: url(../images/our-family-bg.png) no-repeat;
  background-size: cover;
  height: 810px;
}

.our-family-bg-title {
  display: flex;
  margin-top: -120px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 900;
  font-size: 190px;
  line-height: 232px;
  color: rgba(255, 255, 255, 0.08);
}

.our-family-title {
  margin-top: -135px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 900;
  font-size: 48px;
  line-height: 59px;
  color: var(--cWhite);
  align-items: center;
  text-align: center;
}

.our-family-subtitle {
  padding-top: 18px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: var(--sFontBody);
  line-height: 22px;
  text-transform: uppercase;
  color: var(--cWhite);
  align-items: center;
  text-align: center;
}

.carousel-players {
  display: flex;
  justify-content: space-between;
  position: relative;
  margin-top: 50px;
}

.arrow-btn {
  background: url(../images/right-arrow-bg.png);
  border: none;
  position: absolute;
  top: 50%;
  right: 45px;
  transform: translateY(-50%);
  width: 51px;
  height: 51px;
  cursor: pointer;
  z-index: 1;
}

.player-col {
  justify-content: space-between;
}

.player-col:nth-child(1) {
  padding: 0 2px 0 35px;
}

.player-col:nth-child(2) {
  padding: 0 2px 0 2px;
}

.player-col:nth-child(3) {
  padding: 0 2px 0 2px;
}

.player-col:nth-child(4) {
  padding: 0 35px 0 2px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.events-section {
  position: relative;
  background: url(../images/events-bg.png) no-repeat;
  background-size: cover;
  height: 811px;
}

.events-shadow-bg {
  height: 100%;
  background: url(../images/event-rectangle.png) right 0px top -250px no-repeat;
}
